
<div class="container">
<div class="row">
<div class='mx-auto'>
<p>注文履歴詳細</p>
<table>
<th> <span class="border-0">注文日</span></th>
<th></th>
<th> <span class="border-0">配送先</span></th>
   <th>   <%= @order.address %></th>
      <th> <span class="border-0">支払金額</span></th>
       <th> <%= @order.pay_method %></th>

          <%= f.label :status, "注文ステータス" %>
<% f.collection_select (:registered, current_customer.addresses.all, :id, :status) %>
</div>
</div>
</div>