<%= render "layouts/header" %>
<div class='container px-5'>
  <div class='row'>
    <div class="col">
    <h2>商品新規登録</h2>
    </dov>
    <div class='col mx-auto mt-5'>
      <div>
        <%= flash[:notice] %>
      </div>
      <%= render "form", form: @form %> 
    </div>
  </div>
</div>
