
<div class="container">
<div class="row">
  <div class="col-md-9 mx-auto">
  <p>注文履歴詳細</p>
  <h2>注文情報</h2>
  <table>
    <tr>
    <tr><th><span class="border-0">注文日</span></th>
    <th><%= order.crate_at %></th>
    </tr>

      <tr> <th><span class="border-0"> 配送先</span></th>
     <th> <%= order.address %>
      </th>

      </tr>

       <tr> <th><span class="border-0"> 支払方法</span>
       </th><th><%= order.payment_method %></th>
       </tr>

        <th><span class="border-0"> ステータス</span>
        </th><th><%= order.status %></th>
    </tr>
  </table>
  </div>
</div>
</div>