<% items.each do |item| %>
<div class="col">
  <div class="index-group">
    <%= link_to item_path(item.id) do %>
      <%= image_tag item.image, size: "200x240"%>
    <% end %>
  </div>
  <div class="index-group">
    <%= link_to item.name, item_path(item)%>
  </div>
  <div class="index-group">
  ￥<%= item.with_tax_price %>
  </div>
</div>
<% end %>
