<% items.each do |item| %>
  <div class="index-group">
    <%= image_tag item.image %>
  </div>
  <div class="index-group">
    <%= link_to item.name, item_path(item)%>
  </div>
  <div class="index-group">
  ￥<%= (item.price * 1.1).to_i %>
  </div>
<% end %>
