<% items.each do |item| %>
<div class="col mt-5">
  <div class="index-group">
    <%= link_to item_path(item.id) do %>
      <%= image_tag item.image, size: "200x180"%>
    <% end %>
  </div>
  <div class="index-group">
    <%= link_to item.name, item_path(item)%>
  </div>
  <div class="index-group">
  ￥<%= item.with_tax_price.to_s(:delimited) %>
  </div>
</div>
<% end %>
