<%= render "layouts/header", customer: @customer %>
<div class="container px-5 ">
  <h2>商品一覧</h2>
  <div class="row mx-auto">
      <%= render 'index', items: @items %>
  </div>
  <%= paginate @items %>
</div>